.quote-box {
    max-width: 290px;
    border-radius: 18px;
    background-color: var(--bg-color);
    text-align: center;
    font-weight: 600;
    padding: 16px 16px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);

    h3 {
        color: var(--aqua);
        font-size: 26px;
    }

    p {
        color: var(--yellow);
        width: 216px;
        margin: 32px auto;
        font-size: 24px;
        line-height: 32px;
    }

    .aqua-circle {
        width: 29px;
        height: 29px;
        border-radius: 100%;
        background-color: var(--aqua);
        margin: 0 auto;

        svg {
            margin-top: 28%;
        }
    }
}
